* {
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: no-repeat center center fixed url(ornament.jpg);
    background-size: cover;
}

h2 {
    font-size: 20px;
    margin: 0;
    color: brown;
}

.header {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    top: 0; left: 0;
    width: 100%; height: 12%;
    background: black;
    color: rgb(247, 92, 30);
    font-size: 10px;
    z-index: 10;
}

.header2 {
    display: block;
    position: relative;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 90%; height: 10%;
    background: black;
    color: rgb(247, 92, 30);
    font-size: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.mainmenubtn {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 30px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: black;
    min-width: 200px;
    font-size: 20px;
}
.dropdown-child a {
    color: white;
    padding: 30px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}

.mainmenu {
    display: inline-block;
    flex-direction: column;
    position: relative;
    top: 80px;
    padding: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 0 40px;
}

.menubtn {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 25px;
    padding: 30px;
}

.container {
    display: inline-block;
    flex-direction: column;
    position: relative;
    top: 50px;
    padding: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: right;
    border-radius: 24px;
}

.container .item {
    display: inline-block;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 40px 0 40px 0;
    border-radius: 8px;
}

.item {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 8px;
}

.photo {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.30);
    border-radius: 10px;
}

.Basket {
    font-size: 15px;
    color: brown;
}

.App {
    padding: 30px;
    font-size: 20px;
}

.main {
    padding: 0px;
}

.btn {
    appearance: none;
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    background-color: rgb(247, 97, 52);
    margin: 5px;
    text-decoration: none;
}

button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 8px 16px;
    margin: 5px;
    font-size: 16px;
}

.order {
    background-color: green;
}

.Add {
    background-color: green;
}

.Del {
    background-color: brown;
}

#modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  #window {
    width: 300px;
    height: 90px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: black;
  }
  #modal:target {display: block;}
  .close {
    display: inline-block;
    color: white;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: green;
    font-size: 14pt;
    cursor:pointer;
    border-radius: 5px;
  }
  .close:hover {background: #e6e6ff;}