* {
    box-sizing: border-box;
}

body {
    background: no-repeat center center fixed url(fon.jpg);
    background-size: cover;
}

h2 {
    font-size: 20px;
    margin: 0;
    color: brown;
}

.header {
    display: flex;
    color: rgb(255, 255, 255);
    background: black;
    color: rgb(247, 92, 30);
}

.container {
    display: flex;
    overflow-x: scroll;
    padding: 40px;
    width: 400px;
    height: 780px;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    gap: 12px;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: right;
    border-radius: 24px;
}

.container .item {
    flex: 0 0 100%;
    padding: 24px;
    border-radius: 8px;
    scroll-snap-align: start;
}

.item {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 24px;
}

.borscht {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.30);
    border-radius: 10px;
}

.Basket {
    font-size: 15px;
    background: no-repeat url(basket.png);
    color: brown;
}

.App {
    padding: 30px;
    font-size: 25px;
}

.main {
    padding: 30px;
}

button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}

.Add {
    background-color: green;
}

.Del {
    background-color: brown;
}

.Buy {
    background-color: rgb(172, 230, 86);
}